.foot-con {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #434343;
    color: white;
    text-align: center;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #434343;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #8D8C8C;
}
.title {
  display: block;
  padding: 20px 20px;
  color: white;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.top-wel {
    text-align: center;
}
.container {
    text-align: center;
}
